################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/asp.net/v17/.wsuo
/.vs/asp.net/v17/.wsuo
/.vs/asp.net/v17/.wsuo
/.vs/asp.net/v17/.wsuo
