@{
    ViewData["Title"] = "Home Page";
}
<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to the Student Management System</h1>
        <p class="lead">Manage students, courses.</p>
        <hr class="my-4">
        <p>Click below to get started.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a>
    </div>
</div>

