@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-image: url('://img.freepik.com/free-vector/businessman-consulting-watch_74855-2350.jpg?w=740&t=st=1695204279~exp=1695204879~hmac=e23e7e8f1de2b2a6cb7075fbc8fa6728552df470b96e0c655f7f132476a512e5');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    h1 {
        color: blue; 
    }
</style>

<div class="container">
    
    <div class="text-center">
        <h1 class="display-4">Welcome In Student Management System</h1>
    </div>

</div>
